.icon {
    width: 1em;
    height: 0.5em;
    color: #000;
    opacity: 0.25;
}


.anchor:hover .icon {
    opacity: 0.5;
}

h1.heading {
    font-size: 3.5rem;
    font-family: var(--heading-font-familly);
}

.heading:not(h1) {
    margin-left: -1em;
}

h2.heading {
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

h3.heading {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h4.heading {
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h5.heading {
    font-size: 1.1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.heading .anchor {
    opacity: 0;
}

h1.heading .anchor {
    display: none;
}

.heading:not(h1):hover .anchor {
    opacity: 1
}