.wrapper {
    display: grid;
    grid-template: "tabs copy" min-content "code code" 1fr / 1fr min-content;
    flex-direction: column;
    background: #1d2021;
    border-radius: 6px;
    overflow: hidden;

    &:focus-within {
        outline: auto;
    }

    .tabs {
        grid-area: tabs;
    }

    .copy {
        grid-area: copy
    }

    .codes {
        grid-area: code;
    }
}

.copy {
    background: none;
    background-color: #1d2021;
    border: 1px solid transparent;
    padding: 0 10px;
    color: #a89984;

    &:focus {
        border-color: #9c9482
    }

    &:hover {
        color: #fbf1c7;
        cursor: pointer;
    }

    .cta {
        display: block;
    }

    .success {
        display: none;
    }

    &[data-success] {
        .cta {
            display: none;
        }

        .success {
            display: block;
        }
    }

}

.icon {
    width: 20px;

}



.tabs {
    display: flex;
    flex-direction: row;
    overflow: auto;
    background: #020202;
}

.tab {
    color: #9c9482;
    border: none;
    background: none;
    padding: 0.6rem 1.5rem;
    margin: 0;
    border-right: #2a3134 1px solid;
    border-left: transparent 1px solid;
    border-bottom: transparent 1px solid;
    font-family: var(--body-font-familly);
    font-size: 0.9rem;
    background: transparent;

    &button {
        cursor: pointer;
    }

    &:not([data-active]):hover {
        background: #FFFFFF12;
    }

    &:focus {
        border-color: #9c9482;
    }



    &[data-active] {
        background: #1d2021;
        color: #ebdbb2;

    }
}

.codes {
    display: grid;
}

.code {
    grid-column: 1;
    grid-row: 1;
    visibility: hidden;
    overflow: auto;

    &[data-active] {
        visibility: visible;
    }
}