name: deploy
on: [push]

jobs:
  deploy:
    name: deploy on deno-deploy

    runs-on: ubuntu-latest
    
    permissions:
      id-token: write # Needed for auth with Deno Deploy
      contents: read # Needed to clone the repository

    env:
      CI: true

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: install latest deno
        uses: denoland/setup-deno@v1

      - name: run build
        run: deno task doc:build

      # can't use deno deploy action, because i need exclude/include (https://github.com/denoland/deployctl/issues/100)
      #- name: Upload to Deno Deploy
      #  uses: denoland/deployctl@v1
      #  with:
      #    project: frugal
      #    entrypoint: serve.ts
      #    root: docs
      #    import-map: import_map.json

      - name: install Deno Deploy
        run: deno install --allow-read --allow-write --allow-env --allow-net --allow-run --no-check -r -f https://deno.land/x/deploy/deployctl.ts

      - name: ghetto deploy
        run: deployctl deploy --token=${{ secrets.DENO_DEPLOY_TOKEN }} --project=frugal --import-map=import_map.json --include=docs,dep,packages,import_map.json docs/cli.ts
